@tailwind base;
@tailwind components;
@tailwind utilities;


.highlight-row {
    background-color: #E5E7EB; /* Choose your highlight color */
}

::-webkit-scrollbar{
    width: 8px;
    background-color: #E5E5E5;
}

::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 4px;
}


/* ::-webkit-scrollbar-thumb:hover{
    background-color: ;
} */

  [x-cloak] {
    display: none !important;
   }
   
.custom-tooltip {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    white-space: nowrap;
}

button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

textarea.no-resize {
    resize: none; /* Prevent resizing */
    border: 1px solid #ccc; /* Default border color */
    transition: border-color 0.2s ease; /* Smooth transition for border color */
}

textarea.focused {
    border-color: black; /* Border color when focused */
}

/* .custom-tooltip {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
} */